<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <div class="timeHeader">
        <h1>My Time Display</h1>
    </div>
    <div class="break"></div>
    <div class="timeBox">
        <h2>Today is : {{day}}</h2>
        <div class="break"></div>
        <h2>The time is: {{time}}</h2>
    </div>
    
</body>
</html>